# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Model weights
backend/weights/*.pt
backend/weights/*.joblib
backend/weights/*.json

# Frontend
frontend/node_modules/
frontend/dist/

# IDE
.idea/
.vscode/
